body {
  background-image: url("../media/P14.jpg");
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron {
  background: rgba(76, 80, 80, 0.5);
  color: white;
  border: solid 4px black;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

h1 {
  color: white;
}

#emailInput{
	color: black;
}

.fontColors {
  color: white;
}

.customContainer {
  margin: 7% auto;
  width: 50%;
}

#show {
  background: white;
  width: 350px;
  float: right;
  margin-right: 100px;
  margin-top: 25px;
}
