body {
   background: url("../media/P14.jpg") no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   z-index: -1;
   background-repeat: no-repeat;
 }

.jumbotron {
  background: rgba(76, 80, 80, 0.5);
  color: white;
  border: solid 4px black;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

h1 {
  color: white;
}

#emailInput{
	color: black;
}

.fontColors {
  color: white;
}

.customContainer {
  margin: 7% auto;
  width: 50%;
}

#show {
  background: black;
  color: white;
  width: 350px;
  float: right;
  margin-right: 200px;
  margin-top: 20px;
 }

 .request {
   clear: both;
 }
